# Mobile Platform Configuration (android | ios)
PLATFORM=android
EMULATION_MODE=True

# Appium Server Configuration
APPIUM_SERVER_URL=http://127.0.0.1:4723

# Android Settings
ANDROID_DEVICE_NAME=Pixel_8_Pro_API_34
ANDROID_PLATFORM_VERSION=14.0
ANDROID_APP_PACKAGE=com.LightX.assistant
ANDROID_APP_ACTIVITY=.ui.MainActivity
ANDROID_APP_PATH=./apps/LightX_ai_v2.4.apk

# iOS Settings
IOS_DEVICE_NAME=iPhone 15 Pro
IOS_PLATFORM_VERSION=17.4
IOS_BUNDLE_ID=com.LightX.assistant
IOS_APP_PATH=./apps/LightX_ai_v2.4.app

# Credentials
TEST_USER_EMAIL=alex@LightX.com
TEST_USER_PASSWORD=SecretSauce@2026

